/*Variables */
$base-color:#283036;
$second-color:#FC3949;
@font-face {
    font-family: 'Adam normal';
    font-style: normal;
    font-weight: normal;
    src: local('Adam normal'), url('Adam.woff') format('woff');
    }
/*UP-button*/
.up-button{
    width:50px;
    height:50px;
    position: fixed;
    right:30px;
    bottom:30px;
    display:grid;
    place-content: center;
    z-index:999;
    transition: .3s;
    button{
        background:none;
        outline: none;
        border: none;
        cursor: pointer;
        transition: .3s;
        &:hover{
            i{
                color:rgb(51, 179, 106);
                text-shadow:0px 0px 4px rgb(93, 202, 140);
            }
        }
        i{
            font-size:3rem;
            color:seagreen;
        }
    }
    

}
/*Side Menu*/
.side-menu{
    width:100vw;
    height:70px;
    position: fixed;
    z-index:999;
    bottom:0;
    left:0;
    background:white;
    display:none;
    transition:.6s;
    ul{
        list-style-type: none;
        display:flex;
        text-align:center;
        margin-top:5px;
        
        li{
            width:25%;
            font-size:2rem;
            flex:none;
            text-align:center;
            height:100%;
        a{
            color:#283036;
            text-decoration:none;
        }
        i{
            margin:10px 0;
            font-size:1.8rem;
            color:$base-color;
            width:100%;
        }
        }
    }
}
.opened-navbar{
    right:0px;
}
/*Landing Page */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    
    scroll-behavior: smooth;
}
body{
    font-family: 'Adam normal';
    overflow-x:hidden !important;
    min-height:200vh;
    width:100%;
}
.container{
    min-height:100vh;
    overflow-x:hidden !important;
}
.home-container{
    background:$base-color;
    overflow:hidden !important;
    
}
.logo{
    color:$base-color;
    font-size:3rem;
    letter-spacing:2px;
    position: absolute;
    top:5%;
    left:5%;
    span{
        color:$second-color;
        
    }
    a{
        text-decoration:none;
        color:$base-color;
        
    &::after{
        position: absolute;
        content:'';
        width:0px;
        height:2px;
        background:none;
        bottom:-5px;
        left:0px;
        transition:.3s;
    }
    &:hover::after{
         width:100%;
         background:$second-color;
    }
    }
}

.home-container-navbar{
    position: absolute;
    top:7%;
    right:10%;
    ul{
        display:flex;
        li{
            list-style-type: none;
            margin:0 20px;
            font-size:1.3rem;
            a{
                color:$base-color;
                font-weight:700;
                text-decoration:none;
                position: relative;
                
            &::after{
                position: absolute;
                content:'';
                width:0px;
                height:1px;
                background:none;
                bottom:-5px;
                left:0px;
                transition:.3s;
            }
            &:hover::after{
                 width:100%;
                 background:$second-color;
            }
            }
        }
        
    }
}
.home-container-hello{
    height:30vh;
    margin-left:250px;
    margin-top:-100px;
    display:flex;
    .home-image{
        margin-left:15%;
    }
    h2{
        color:white;
        font-size:4em;
    }
    button{
        width:40px;
        height:40px;
        background:white;
        outline:none;
        border:none;
        border-radius:50%;
        margin:10px 30px;
        cursor: pointer;
        &:hover{
            box-shadow: 0 0 5px 0 $second-color;
        }
    }
    .skill-container{
        margin:40px;
        display:flex;
        .skill{
            color:white;
            font-size:2rem;
        }
        
    }
    #buttonOne{
        background:$second-color;
    }
}

/*ABOUT ME */
.about-container{
    background-image:url('./img/web-image.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display:flex;
    align-items: center;
    .about-me{
        width:50vw;
        color:white;
        height:100vh;
        background:rgba(40, 48, 54, .5);
        border-right:1px solid $base-color;
        border-left:1px solid $base-color;
        margin-left:230px;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h2{
            font-size:4rem;
            padding:20px 0;
        }
        p{
            font-size:1.4rem;
        }
        .buttons-two{
            display:flex;
            margin-top:50px;
            .button{
                width: 200px;
                height: 50px;
                position: relative;
                border:1px solid $second-color;
                border-radius: 16px;
                text-align: center;
                cursor: pointer;
                font-family: 'Adam normal';
                font-weight: bold;
                font-size:2rem;
                background:none;
                margin:0 20px;
                color:white;
                transition: .2s;
                overflow:hidden;
                box-shadow: 0px 0px 5px 0px $second-color;
                span{
                    position: absolute;
                    left:50%;
                    top:50%;
                    transform: translate(-50%,-50%);
                    z-index:9999999;
                }
                &::after{
                    position: absolute;
                    content:'';
                    width:100%;
                    height:100%;
                    border-radius: 16px;
                    background:red;
                    top:0;
                    left:-100%;
                    transition: .4s;
                }
                &:hover:after{
                    left:0;
                }
            }
        }
       
    }
}
/*SKILLS */
.skills-container{
    position:relative;
    overflow:hidden;
    .skills{
        width:90vw;
        height:80vh;
        position: relative;
        background:rgba(255,255,255,.5);
        transform: translateY(20px);
        .skill{
            width:100%;
            height:100%;
            position: absolute;
            top:0;
            left:-100%;
            transition: .3s;
            display:flex;
            .known-skills,.future-skills{
                width:50%;
                height:100%;
                border-left:1px solid black;
                h2{
                    text-align: center;
                    font-size:2.5rem;
                    margin-top:30px;
                }
                .wrapper{
                    width:90%;
                    height:90%;
                    margin:0 auto;
                    .first-row,.second-row{
                        width:100%;
                        height:50%;
                    }
                    .first-row{
                        display:flex;
                    }
                    .second-row{
                        display:flex;
                    }
                    .skill-box{
                        width:33.3%;
                        height:100%;
                        text-align: center;
                        i{
                            font-size:7rem;
                            padding:10px 0;
                        }
                        .fa-check{
                            font-size:1rem;
                            color:$second-color;
                            padding:0 10px;
                        }
                    }
                }
            }
        }
        .skill-active{
            left:0vw;
        }
    }
    .skills-box{
        width:90vw;
        overflow: hidden;
        height:100vh;
        margin:0 auto;
        .skills-btns{
            width:320px;
            height:120px;
            margin:0 auto;
            z-index:9;
            display:flex;
            flex:1;
            .skill-btn{
                width:100%;
                height:100%;
                background:none;
                border:none;
                &:hover{
                    background:$second-color;
                    cursor: pointer;
                    transition: .3s;
                    box-shadow:0 0 4px 0 white;
                }
                i{
                    font-size:5rem;
                    color:white;
                }
                p{
                    color:white;
                }
            }
            .skill-btn-active{
                background:$second-color;
            }
        }
    }
    .curved{
         left: 0px;
         position: absolute;
         top: 0px;
         height: 100%;
         width: 100%;
         transform: skewY(-5deg);
         background-color: rgba(40, 48, 54, 1);
         z-index: -1;
         display:flex;
         justify-content: center;
         align-items: center;
         p{
             font-size:8rem;
             color:$second-color;
             letter-spacing: 30px;
         }
    }
}
/*CONTACT*/
.contact-container{
    background:$base-color;
    position: relative;
    overflow:hidden;
    .wave-bottom{
        position: absolute;
        left:0;
        bottom:0;
    }
    .end-socials{
        width:200px;
        height:60px;
        position: absolute;
        left:50px;
        bottom:20px;
        z-index:2;
        display:flex;
        cursor: pointer;
        i{
            font-size:2rem;
            color:white;
            padding:0 10px;
            &:hover{
                color:$base-color;
            }
        }
    }
    .wrap {
        flex: 0 1 700px;
        margin: auto;
        padding: 10px;
        width:60vw;
        transform: translateY(50px);
      }
      
      .screen {
        position: relative;
        background: #3e3e3e;
        border-radius: 15px;
      }
      
      .screen:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 20px;
        right: 20px;
        bottom: 0;
        border-radius: 15px;
        box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
        z-index: -1;
      }
      
      
      
      
      .screen-body {
        display: flex;
      }
      
      .screen-body-item {
        flex: 1;
        padding: 50px;
      }
      
      .screen-body-item.left {
        display: flex;
        flex-direction: column;
      }
      
      .app-title {
        display: flex;
        flex-direction: column;
        position: relative;
        color: $second-color;
        font-size: 26px;
      }
      
      .app-title:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: -10px;
        width: 25px;
        height: 4px;
        background: $second-color;
      }
      
      .app-contact {
        margin-top: auto;
        font-size: 8px;
        color: #888;
      }
      
      .app-form-group {
        margin-bottom: 15px;
      }
      
      .app-form-group.message {
        margin-top: 40px;
      }
      
      .app-form-group.buttonki {
        margin-bottom: 0;
        text-align: right;
        padding:15px;
      }
      
      .app-form-control {
        width: 100%;
        padding: 10px 0;
        background: none;
        border: none;
        border-bottom: 1px solid #666;
        color: #ddd;
        font-size: 14px;
        text-transform: uppercase;
        outline: none;
        transition: border-color .2s;
      }
      
      .app-form-control::placeholder {
        color: #666;
      }
      
      .app-form-control:focus {
        border-bottom-color: #ddd;
      }
      
      
      .app-form-button {
        background: none;
        border: none;
        color: $second-color;
        font-size: 14px;
        cursor: pointer;
        outline: none;
      }
      
      .app-form-button:hover {
        color: $second-color;
      }
      
      @media screen and (max-width: 520px) {
        .screen-body {
          flex-direction: column;
        }
      
        .screen-body-item.left {
          margin-bottom: 30px;
        }
      
        .app-title {
          flex-direction: row;
        }
      
        .app-title span {
          margin-right: 12px;
        }
      
        .app-title:after {
          display: none;
        }
      }
      
      @media screen and (max-width: 600px) {
        .screen-body {
          padding: 40px;
        }
      
        .screen-body-item {
          padding: 0;
        }
      }
      
}
/*MEDIA QUERIES*/
@media(max-width:1275px){
    .home-container {
        
        #home-image{
        transform:scale(.8);
        }
        .home-image{
            margin-left:5%;
        }
    }
    .skills-box,.skills{
        width:100vw !important;
    }
    .wrapper,.first-row,.second-row{
        width:100% !important;
    }
    .wrap{
        width:90vw !important;
    }
}
@media (max-width:950px){
    .end-socials{
        bottom:80px !important;
    }
    .home-container-navbar{
        display:none;
    }
    .side-menu{
        display:block;
        width:100vw !important;
    }
    .wave{
        display:none;
    }
    .logo{
        text-align:center;
        margin:0;
        padding:0;
        a{
            color:white;
        }
    }
    body{
        overflow-x:hidden !important;
    }
    .home-container-hello{
        margin-left:0;
        transform:translateY(200px);
        
    }
    .about-container{
        justify-content: center;
        .about-me{
            width:90vw;
            margin-left:0;
            p{
                padding:0 20px;
                text-align:center;
            }
            h2{
                text-align: center;
            }
        }
    }
    .skills-box{
        height:200vh !important;
    }
    .skills{
        height:150vh !important;
        transform: translateY(300px) !important;
    }
    .known-skills,.future-skills{
        height:50% !important;
        width:100% !important;
    }
    .skills-btns{
        position: absolute;
        top:100px;
        left:35%;
    }
    .skill{
        display:flex;
        flex-direction: column;
    }
    .up-button{
        bottom:120px;
    }
}
@media(min-width:951px){
    .side-menu{
        display:none !important;
    }
}
@media(max-width:768px){
    .side-menu{
        ul{
            li{
                font-size:1.5rem;
            }
        }
    }
    .home-container{
        height:140vh;
    }
    .home-container-hello{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin:0;
        padding:0;
        transform:translateY(350px);
        h2{
            text-align:center;
        }
    }

    .buttons{
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .skills-container{
        display:flex;
        justify-content: center;
        align-items: center;       
    }
    .about-me{
        width:100vw !important;
    }
    .skills-btns{
        left:20%;
    }
}
@media(max-width:576px){
    .side-menu{
        ul{
            li{
                font-size:1.2rem;
                width:28%;
            }
            li:first-child{
                width:20%;
            }
        }
    }
    .home-image{
        margin-left:0 !important;
    }
    #home-image{
        transform:scale(.6) !important;
    }
    .home-container-hello{
        transform:translateY(420px);
    }
    .buttons-two{
        flex-direction: column;
        .contact-button{
            transform: translateY(50px);
        }
    }
    .about-container,.about-me{
        height:120vh !important;
    }
    .curved{
        p{
            font-size:4rem !important;
        }
    }
    .first-row,.second-row{
        display:flex;
        flex-direction: column;
    }
    .skills-box{
        height:350vh !important;
    }
    .skills{
        height:250vh !important;
    }
    .skill-box{
        width:100% !important;
        height:33% !important;
        display:flex;
        justify-content: space-around;
        align-items: center;
        .fa-html5{
            font-size:5rem !important;
        }
        h2{
            font-size:1.8rem !important;
        }
    }
    .skills-btns{
        left:2%;
    }
    .flex{
        display:flex;
        flex-direction: column;
    }
    
}