/*Variables */
@font-face {
  font-family: 'Adam normal';
  font-style: normal;
  font-weight: normal;
  src: local("Adam normal"), url("Adam.woff") format("woff");
}

/*Side Menu*/
.side-menu {
  width: 100vw;
  height: 70px;
  position: fixed;
  z-index: 999;
  bottom: 0;
  left: 0;
  background: white;
  display: none;
  -webkit-transition: .6s;
  transition: .6s;
}

.side-menu ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin-top: 5px;
}

.side-menu ul li {
  width: 25%;
  font-size: 2rem;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  text-align: center;
  height: 100%;
}

.side-menu ul li a {
  color: #283036;
  text-decoration: none;
}

.side-menu ul li i {
  margin: 10px 0;
  font-size: 1.8rem;
  color: #283036;
  width: 100%;
}

.opened-navbar {
  right: 0px;
}

/*Landing Page */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Adam normal';
  overflow-x: hidden !important;
  min-height: 200vh;
  width: 100%;
}

.container {
  min-height: 100vh;
  overflow-x: hidden !important;
}

.home-container {
  background: #283036;
  overflow: hidden !important;
}

.logo {
  color: #283036;
  font-size: 3rem;
  letter-spacing: 2px;
  position: absolute;
  top: 5%;
  left: 5%;
}

.logo span {
  color: #FC3949;
}

.logo a {
  text-decoration: none;
  color: #283036;
}

.logo a::after {
  position: absolute;
  content: '';
  width: 0px;
  height: 2px;
  background: none;
  bottom: -5px;
  left: 0px;
  -webkit-transition: .3s;
  transition: .3s;
}

.logo a:hover::after {
  width: 100%;
  background: #FC3949;
}

.home-container-navbar {
  position: absolute;
  top: 7%;
  right: 10%;
}

.home-container-navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-container-navbar ul li {
  list-style-type: none;
  margin: 0 20px;
  font-size: 1.3rem;
}

.home-container-navbar ul li a {
  color: #283036;
  font-weight: 700;
  text-decoration: none;
  position: relative;
}

.home-container-navbar ul li a::after {
  position: absolute;
  content: '';
  width: 0px;
  height: 1px;
  background: none;
  bottom: -5px;
  left: 0px;
  -webkit-transition: .3s;
  transition: .3s;
}

.home-container-navbar ul li a:hover::after {
  width: 100%;
  background: #FC3949;
}

.home-container-hello {
  height: 30vh;
  margin-left: 250px;
  margin-top: -100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-container-hello .home-image {
  margin-left: 15%;
}

.home-container-hello h2 {
  color: white;
  font-size: 4em;
}

.home-container-hello button {
  width: 40px;
  height: 40px;
  background: white;
  outline: none;
  border: none;
  border-radius: 50%;
  margin: 10px 30px;
  cursor: pointer;
}

.home-container-hello .skill-container {
  margin: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-container-hello .skill-container .skill {
  color: white;
  font-size: 2rem;
}

.home-container-hello #buttonOne {
  background: #FC3949;
}

/*ABOUT ME */
.about-container {
  background-image: url("./img/web-image.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-container .about-me {
  width: 50vw;
  color: white;
  height: 100vh;
  background: rgba(40, 48, 54, 0.5);
  border-right: 1px solid #283036;
  border-left: 1px solid #283036;
  margin-left: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-container .about-me h2 {
  font-size: 4rem;
  padding: 20px 0;
}

.about-container .about-me p {
  font-size: 1.4rem;
}

.about-container .about-me .buttons-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.about-container .about-me .buttons-two .button {
  width: 200px;
  height: 50px;
  position: relative;
  border: 1px solid #FC3949;
  border-radius: 16px;
  text-align: center;
  cursor: pointer;
  font-family: 'Adam normal';
  font-weight: bold;
  font-size: 2rem;
  background: none;
  margin: 0 20px;
  color: white;
  -webkit-transition: .2s;
  transition: .2s;
  overflow: hidden;
}

.about-container .about-me .buttons-two .button span {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 9999999;
}

.about-container .about-me .buttons-two .button::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background: red;
  top: 0;
  left: -100%;
  -webkit-transition: .4s;
  transition: .4s;
}

.about-container .about-me .buttons-two .button:hover:after {
  left: 0;
}

/*SKILLS */
.skills-container {
  position: relative;
  overflow: hidden;
}

.skills-container .skills {
  width: 90vw;
  height: 80vh;
  position: relative;
  background: rgba(255, 255, 255, 0.5);
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.skills-container .skills .skill {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  -webkit-transition: .3s;
  transition: .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skills-container .skills .skill .known-skills, .skills-container .skills .skill .future-skills {
  width: 50%;
  height: 100%;
  border-left: 1px solid black;
}

.skills-container .skills .skill .known-skills h2, .skills-container .skills .skill .future-skills h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 30px;
}

.skills-container .skills .skill .known-skills .wrapper, .skills-container .skills .skill .future-skills .wrapper {
  width: 90%;
  height: 90%;
  margin: 0 auto;
}

.skills-container .skills .skill .known-skills .wrapper .first-row, .skills-container .skills .skill .known-skills .wrapper .second-row, .skills-container .skills .skill .future-skills .wrapper .first-row, .skills-container .skills .skill .future-skills .wrapper .second-row {
  width: 100%;
  height: 50%;
}

.skills-container .skills .skill .known-skills .wrapper .first-row, .skills-container .skills .skill .future-skills .wrapper .first-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skills-container .skills .skill .known-skills .wrapper .second-row, .skills-container .skills .skill .future-skills .wrapper .second-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skills-container .skills .skill .known-skills .wrapper .skill-box, .skills-container .skills .skill .future-skills .wrapper .skill-box {
  width: 33.3%;
  height: 100%;
  text-align: center;
}

.skills-container .skills .skill .known-skills .wrapper .skill-box i, .skills-container .skills .skill .future-skills .wrapper .skill-box i {
  font-size: 7rem;
  padding: 10px 0;
}

.skills-container .skills .skill .known-skills .wrapper .skill-box .fa-check, .skills-container .skills .skill .future-skills .wrapper .skill-box .fa-check {
  font-size: 1rem;
  color: #FC3949;
  padding: 0 10px;
}

.skills-container .skills .skill-active {
  left: 0vw;
}

.skills-container .skills-box {
  width: 90vw;
  overflow: hidden;
  height: 100vh;
  margin: 0 auto;
}

.skills-container .skills-box .skills-btns {
  width: 320px;
  height: 120px;
  margin: 0 auto;
  z-index: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.skills-container .skills-box .skills-btns .skill-btn {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
}

.skills-container .skills-box .skills-btns .skill-btn:hover {
  background: #FC3949;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.skills-container .skills-box .skills-btns .skill-btn i {
  font-size: 5rem;
  color: white;
}

.skills-container .skills-box .skills-btns .skill-btn p {
  color: white;
}

.skills-container .skills-box .skills-btns .skill-btn-active {
  background: #FC3949;
}

.skills-container .curved {
  left: 0px;
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  -webkit-transform: skewY(-5deg);
          transform: skewY(-5deg);
  background-color: #283036;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills-container .curved p {
  font-size: 8rem;
  color: #FC3949;
  letter-spacing: 30px;
}

/*CONTACT*/
.contact-container {
  background: #283036;
  position: relative;
  overflow: hidden;
}

.contact-container .wave-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
}

.contact-container .end-socials {
  width: 200px;
  height: 60px;
  position: absolute;
  left: 50px;
  bottom: 20px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-container .end-socials i {
  font-size: 3rem;
  color: white;
  padding: 0 10px;
}

.contact-container .wrap {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 700px;
          flex: 0 1 700px;
  margin: auto;
  padding: 10px;
  width: 60vw;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

.contact-container .screen {
  position: relative;
  background: #3e3e3e;
  border-radius: 15px;
}

.contact-container .screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.contact-container .screen-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-container .screen-body-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 50px;
}

.contact-container .screen-body-item.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-container .app-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  color: #FC3949;
  font-size: 26px;
}

.contact-container .app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #FC3949;
}

.contact-container .app-contact {
  margin-top: auto;
  font-size: 8px;
  color: #888;
}

.contact-container .app-form-group {
  margin-bottom: 15px;
}

.contact-container .app-form-group.message {
  margin-top: 40px;
}

.contact-container .app-form-group.buttonki {
  margin-bottom: 0;
  text-align: right;
  padding: 15px;
}

.contact-container .app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  -webkit-transition: border-color .2s;
  transition: border-color .2s;
}

.contact-container .app-form-control::-webkit-input-placeholder {
  color: #666;
}

.contact-container .app-form-control:-ms-input-placeholder {
  color: #666;
}

.contact-container .app-form-control::-ms-input-placeholder {
  color: #666;
}

.contact-container .app-form-control::placeholder {
  color: #666;
}

.contact-container .app-form-control:focus {
  border-bottom-color: #ddd;
}

.contact-container .app-form-button {
  background: none;
  border: none;
  color: #FC3949;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.contact-container .app-form-button:hover {
  color: #FC3949;
}

@media screen and (max-width: 520px) {
  .contact-container .screen-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-container .screen-body-item.left {
    margin-bottom: 30px;
  }
  .contact-container .app-title {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contact-container .app-title span {
    margin-right: 12px;
  }
  .contact-container .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .contact-container .screen-body {
    padding: 40px;
  }
  .contact-container .screen-body-item {
    padding: 0;
  }
}

/*MEDIA QUERIES*/
@media (max-width: 1275px) {
  .home-container #home-image {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .home-container .home-image {
    margin-left: 5%;
  }
  .skills-box, .skills {
    width: 100vw !important;
  }
  .wrapper, .first-row, .second-row {
    width: 100% !important;
  }
  .wrap {
    width: 90vw !important;
  }
}

@media (max-width: 950px) {
  .end-socials {
    bottom: 80px !important;
  }
  .home-container-navbar {
    display: none;
  }
  .side-menu {
    display: block;
    width: 100vw !important;
  }
  .wave {
    display: none;
  }
  .logo {
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .logo a {
    color: white;
  }
  body {
    overflow-x: hidden !important;
  }
  .home-container-hello {
    margin-left: 0;
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
  }
  .about-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about-container .about-me {
    width: 90vw;
    margin-left: 0;
  }
  .about-container .about-me p {
    padding: 0 20px;
    text-align: center;
  }
  .about-container .about-me h2 {
    text-align: center;
  }
  .skills-box {
    height: 200vh !important;
  }
  .skills {
    height: 150vh !important;
    -webkit-transform: translateY(300px) !important;
            transform: translateY(300px) !important;
  }
  .known-skills, .future-skills {
    height: 50% !important;
    width: 100% !important;
  }
  .skills-btns {
    position: absolute;
    top: 100px;
    left: 35%;
  }
  .skill {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 951px) {
  .side-menu {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .side-menu ul li {
    font-size: 1.5rem;
  }
  .home-container {
    height: 140vh;
  }
  .home-container-hello {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    padding: 0;
    -webkit-transform: translateY(350px);
            transform: translateY(350px);
  }
  .home-container-hello h2 {
    text-align: center;
  }
  .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .skills-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-me {
    width: 100vw !important;
  }
  .skills-btns {
    left: 20%;
  }
}

@media (max-width: 576px) {
  .side-menu ul li {
    font-size: 1.2rem;
    width: 28%;
  }
  .side-menu ul li:first-child {
    width: 20%;
  }
  .home-image {
    margin-left: 0 !important;
  }
  #home-image {
    -webkit-transform: scale(0.6) !important;
            transform: scale(0.6) !important;
  }
  .home-container-hello {
    -webkit-transform: translateY(420px);
            transform: translateY(420px);
  }
  .buttons-two {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .buttons-two .contact-button {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  .about-container, .about-me {
    height: 120vh !important;
  }
  .curved p {
    font-size: 4rem !important;
  }
  .first-row, .second-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .skills-box {
    height: 350vh !important;
  }
  .skills {
    height: 250vh !important;
  }
  .skill-box {
    width: 100% !important;
    height: 33% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .skill-box .fa-html5 {
    font-size: 5rem !important;
  }
  .skill-box h2 {
    font-size: 1.8rem !important;
  }
  .skills-btns {
    left: 2%;
  }
  .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */